/* Slider2 styles */

.slider2 {
    position: relative;
}

.slider2-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.slider2-track {
    display: flex;
}

.slide2 {
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.slide2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider2-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.prev,
.next {
    background: transparent;
    border: none;
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;
    opacity: 0.4;
}

@media (max-width: 425px) {

    .next,
    .prev {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .slider2-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .dot {
        width: 30px;
        height: 5px;
        margin: 0 5px;
        border-radius: 30%;
        background-color: #eddddd ;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;
    }

    .dot.active {
        opacity: 1;
    }
}